.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

[data-radix-navigation-menu-content] {
  border: none !important;
  outline: none !important;
}

[data-radix-navigation-menu-trigger] {
  border: none !important;
  outline: none !important;
}

[data-radix-navigation-menu-trigger]:focus {
  box-shadow: none !important;
  border: none !important;
}

@keyframes ping {
  75%,
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-\[ping_1s_infinite\] {
  animation: ping 1s infinite;
}

@keyframes border-spin {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

.animate-border-spin {
  animation: border-spin 4s linear infinite;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  animation: fade-down 0.5s ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.gradient-border:before {
  background: conic-gradient(
    from 0deg,
    transparent 0deg,
    transparent 45deg,
    rgba(244, 114, 182, 0.4) 85deg,
    rgba(192, 132, 252, 0.4) 95deg,
    transparent 110deg,
    transparent 1turn
  );
  content: "";
  position: absolute;
  inset: -50%;
  width: 200%;
  height: 200%;
}

.bg-dark-50 {
  background-color: rgb(17 17 17);
}
